@charset "UTF-8";

	
	#toMain{
		display:inline-block;
		width: 495px;
		height: 250px;
	}
	
	#toMain>a {
		display:inline-block;
		width: 495px;
		height: 250px;
		line-height: 100%;
		text-align: center;
	}
	#contentwrap{
		margin: 0 auto;
		width: 990px;
		height: 800px;
	}
	#leftPart{
		width: 495px;
		height: 700px;
		float: left;
		background-image: url( "../images/man.jpg" );
	}
	#rightPart{
		width: 495px;
		height: 700px;
		float: left;
	}
	#invenFoot{
		display:block;
		margin: 0 auto;
	}
	#s_id {
		margin-left: 100px;
		width: 300px;
	}
	#s_pw {
		margin-left: 100px;
		width: 300px;
	}
	#loginBtn{
		margin-left: 100px;
		width: 300px;
	}
	#airbnb{
		color: #07054F;
	}
	.btn-group{
		margin-left: 100px;
		margin-bottom: 50px;
		width: 300px;
	}
	.gftbtn{
		display:inline-block;
		width:300px;
		margin-left: 100px;
		margin-bottom: 5px;
	}
	.userMenu{
		width:300px;
		margin-left: 100px;
		text-align: center;
	}

	footer{
		display: block;
		position: absolute;
		t	
	}
	#find_win{
		display: none;
	}

	#div_findPW{
		margin: 50px auto;
	}
	
	#div_findID{
		margin: 50px auto;
	}
	
	#idtd, #pwtd{
		text-align: right;
	}
	